<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos -->
    <link rel="stylesheet" href="/static/style/style.css" />

    <title>{% block title %} {% endblock %}</title>

    <!-- Icono del encabezado de la pagina -->
    <link rel="icon" type="image/.jpg" href="/static/images/GrupoTalse.jpg"/>

</head>
<body>
    <header id="header">ESPACIO DEL HEADER NAVBAR </header>
    {% block main %}
    
    {% endblock %}
</body>
<footer>
    <div id="container">
        <span >FOOTER</span>
    </div>
</footer>
</html>
