{% extends "layout.html" %} 
{% block title %} 
login 
{% endblock %} 
{% block main %}
<body>
    <form action="/" method="post">
    <div>
        <input name="usuario" placeholder="Introduzca usuario   ">
    </div>
    <div>
        <input type="password" name="contrasena" placeholder="contrasena">
    </div>
    <div>
        <button type="submit" id="iniciar_sesion" >Iniciar sesion</button>      
    </div>
    <!-- Flash de aviso al usuario sobre llenar el formulario -->
    <div id="flash">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
        {% for message in messages %} {{ message }} {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </form>
</body>
{% endblock %}
