{% extends "layout.html" %}

{% block title %}
Prestamo Detallado
{% endblock %}

{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Prestamos / Detalle de Prestamo</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Prestamo administrado por GrupoTalse</li>
        </ol>

        <div class="card mb-4">
            {% for i in info %}
            <div class="card-header row">
                <div class="col-md-6 ">
                    <ul class="list-unstyled">
                        <li><b>IdPrestamo:</b> {{ i.IdPrestamo }}</li>
                        <li><b>Colaborador:</b> {{ i.Colaborador }}</li>
                        <li><b>plazo de Pago:</b>{{ i.PlazoDePago }} meses </li>
                        <li><b>Sucursal:</b>{{ i.Sucursal }}</li>
                        <li><b>Direccion:</b> {{ i.Direccion }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li><b>Capital:</b> $ {{ i.Capital }}</li>
                        <li><b>Interés:</b> {{ i.Intereses }}%</li>
                        <li><b>Total a Pagar:</b> $ {{ i.CosteTotal }}</li>
                        <li><b>Cuotas:</b> {{ i.Cuotas }}</li>
                        <li><b>Estado:</b> {{ i.EstadoPrestamo }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>  
                            <th>Cuota</th>
                            <th>Fecha de Pago</th>
                            <th>Monto</th>
                            <th>Capital</th>
                            <th>Interes</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in datos %}
                            <tr>
                                <td>{{  dato.contador }}</td>
                                <td>{{ dato.Fecha }}</td>
                                <td>${{ dato.Pagos }}</td>
                                <td>${{ dato.Capital }}</td>
                                <td>C${{ dato.Interes }}</td>
                                <td>C${{ dato.Saldo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}