{% extends "layout.html" %}

{% block title %}
Prestamos Cancelados
{% endblock %}

{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Prestamos Cancelados</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Prestamos cancelados administrados por GrupoTalse</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Historial
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Fecha de aprobación</th>
                            <th>Cédula</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Estado del prestamo</th>
                            <th>Monto</th>
                            <th>Ver detalles</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Fecha de aprobación</th>
                            <th>Cédula</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Estado del prestamo</th>
                            <th>Monto</th>
                            <th>Ver detalles</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for i in rows %}
                        <tr>
                            <td>{{ i.FechaDeAprobacion }}</td>
                            <td>{{ i.CedulaColaborador }}</td>
                            <td> {{ i.NombresColaborador }}</td>
                            <td>{{ i.ApellidosColaborador }}</td>
                            <td>{{ i.EstadoPrestamo }}</td>
                            <td>{{ i.Monto }}</td>
                            <td><a href="/Prestamo_Detallado/{{i.CedulaColaborador}}"><button class="btn btn-success">Ver más</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}